<h1>Editing this Portofolio Item</h1>

<%= link_to 'Show', @portofolio %> |
<%= link_to 'Back', portofolios_path %>


<%= form_for(@portofolio_item) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>


  <!-- <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
