<!-- <p id="notice"><%= notice %></p> -->

<%= image_tag @portofolio_item.main_image %>



<h1><%= @portofolio_item.title %></h1>
<em><%= @portofolio_item.subtitle %></em>


<p><%= @portofolio_item.body %></p>
<h2> Technologies </h2>

<% @portofolio_item.technologies.each do |t| %>
<p><%= t.name %></p>
<% end %>
<%= link_to 'Edit', edit_blog_path(@portofolio_item) %> |
<%= link_to 'Back', blogs_path %>
